<div>
    <h1>Estos son los productos en tiempo real</h1>
    <div>
<ul id="listaProductosRealTime">
    
</ul>
    </div>
        <h4>Agregá un producto</h4>
        <input type="text" name="" id="title" placeholder="Título">
        <input type="text" name="" id="description" placeholder="Descripcion">
        <input type="text" name="" id="price" placeholder="precio">
        <input type="text" name="" id="code" placeholder="código">
        <input type="text" name="" id="stock" placeholder="stock">
        <input type="text" name="" id="status" placeholder="status">
        <input type="text" name="" id="category" placeholder="categoria">
        <button id="botonAgregar">Agregar</button>
        <br>
        <h4>Ingresá un ID para eliminar un producto</h4>
        <input type="text" name="" id="id" placeholder="ID">
        <button id="botonEliminar">Eliminar</button>
    
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/script.js"></script>